<form id="filtersForm">
    <select name="alcoholic" id="alcoholic">
        <option value="0">Optional alcohol</option>
        <option value="1">alcoholic</option>
        <option value="2">non alcoholic</option>
    </select>
    <input placeholder="glass type" list="glasses" id="inputGlasses">
    <datalist id="glasses">
        <% for(let i = 0; i < glasses.length; i++) { %>
            <option value="<%= glasses[i].strGlass %>"><%= glasses[i].strGlass %></option>
        <% } %>
    </datalist>
    <select name="category" id="category">
        <option value="">alles</option>
        <% for(let i = 0; i < categories.length; i++) { %>
            <option value="<%= categories[i].strCategory %>"><%= categories[i].strCategory %></option>
        <% } %>
    </select>
    <datalist id="x">
        <% for(let i = 0; i < ingredients.length; i++) { %>
            <option value="<%= ingredients[i].strIngredient1 %>"><%= ingredients[i].strIngredient1 %></option>
        <% } %>
    </datalist>
    <button id="addIngredient" type="button">add ingredient</button>
    <!-- <input type="checkbox" value="all" id="includeAll"> 
    <label for="includeAll">Include all selected ingredients in results</label> -->
    <input type="submit">
    <!-- NOTE VOOR DE GENE DIE DIT GAAT STYLEN :) -->
    <!-- de butons en ingredienten inputs die worden toegevoegd met de knop hebben de class btnIngredient & fieldIngredient -->
</form>