<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>  
     <main>     
        <h1>All cocktails</h1>
        <form id="searchForm" action="/home" method="GET">
            <input id="searchInput" type="text" name="query" placeholder="Search for cocktails..." />
            <button type="submit">
                <svg aria-labelledby="title desc" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.9 19.7"><title id="title">Search Icon</title><desc id="desc">A magnifying glass icon.</desc><g class="search-path" fill="none" stroke="#848F91"><path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4"/><circle cx="8" cy="8" r="7"/></g></svg>
            </button>
        </form>
        <ul class="cocktail-list">
            <% cocktails.forEach(cocktail => { %>
                <li>
                    <a href="/cocktail/<%= cocktail.strDrink %>" class="cocktail-link">
                        <h2><%= cocktail.strDrink %></h2>
                        <img src="<%= cocktail.strDrinkThumb %>" alt="<%= cocktail.strDrink %>">
                    </a>
                </li>
            <% }) %>
        </ul>        
    </main>

</body>
</html>
